@mixin hero-bg {
    background-image: radial-gradient(circle at center, rgba(50, 50, 50, 0.6), rgba(50, 50, 50, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin fade($duration: .2s, $easing: ease) {
    animation: fade-in $duration $easing both;
}

@mixin slide($duration: .2s, $easing: ease) {
    animation: slide-up $duration $easing both;
}

/* aliases for backwards compatibility */
@mixin fade-in($duration: .2s, $easing: ease) { @include fade($duration, $easing); }
@mixin slide-up($duration: .2s, $easing: ease) { @include slide($duration, $easing); }
